#what .items .item{
    display: flex;
    text-align: left;
}
#what .items .item i{
    margin-right : 1.3rem;
    align-self: center; 
    margin-bottom: 0; 
}

#what .items{
    display: block;
    padding: 1rem;
}

@media (max-width:500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo{
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #navbar ul{
        padding: 0.5rem;
    }

    /* .l-heading{
        padding : 0 4rem ;
    } */

    #who{
        display: block;
    }

    #who .who-img{
        display: none;
    }

    #who .who-text p{
        text-align: center;
    }

    #contact {
        display: block;
        width: 100%
    }

    /* #contact .contact-form{
        height: 200px;
    } */
    #contact .map{
        height: 200px;
        border-top : 4px solid #333;
        
    }

    .l-heading{
        font-size: 3rem;
    }
     
}
